/*
	--~~== Header ==~~--
*/
header {
	padding: 10px;
	text-align: center;
	position: relative;
	border-bottom: solid 2px #6E1111;
	background-color: rgba(142,11,11,0.7);
}

header h1 {
	display: block;
	position: relative;
	margin: 0;
	padding: 10px;
	font-size: 3.5em;
	color: #FFF;
}

header h1 a,
header h1 a:visited {
	color: #FFF;
	text-decoration: none;
}

header nav {
	display: block;
	position: relative;
	background-color: rgba(0,0,0,0.1);
	border-top: solid 2px rgba(0,0,0,0.2);
	margin: -10px;
	margin-top: 2px;
	padding: 0;
}
header nav::after {
	content: "";
	display: block;
	clear: both;
}

header nav a {
	float: left;
	padding: 8px;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
	color: #FFF;
	transition: background-color 300ms ease;
}
header nav a:hover {
	background-color: rgba(0,0,0,0.2);
	color: #FFF;
}
header nav a:visited,
header nav a:active {
	color: #FFF;
}

/*
	--~~== End Header ==~~--
*/

/*
	Center a group of floats
*/
.center-float-container {
	float: left;
	position: relative;
	left: 50%;
}
.center-float-content {
	float: left;
	position: relative;
	left: -50%;
}
/*
	End float centering
*/

.content {
	min-height: calc(100vh - 2em);
}
body {
	background: url("../../media/img/Tzaneen_tea_plants.jpg") no-repeat fixed;
	background-size: cover;
}

.frosted::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background: url("../../media/img/Tzaneen_tea_plants_blurry.jpg") no-repeat fixed;
	background-size: cover;
}

/*
	--~~== Carousel ==~~--
*/
	.carousel {
		position: relative;
		border: solid #727272 1px;
		border-radius: 5px;
		overflow: hidden;
		width: 80%;
		height: 20vh;
		margin: 10px;
		margin-left: auto;
		margin-right: auto;
	}
	.carousel::after {
		content: "";
		display: block;
		position: absolute;
		height: 2px;
		bottom: -0px;
		left: 0px;
		right: 50%;
		background-color: #B20F0E;
	}
	.carousel .card {
		padding: 10px;
		height: 100%;
		background-color: rgba(255,255,255,0.8);
	}
	.carousel .card > h3 {
		margin: 6px;
		margin-top: 10px;
		height: 1em;
	}
	.carousel .card > .flex {
		display: flex;
		align-items: center;
		width: 100%;
		height: calc(100% - 1em - 20px); /* Full size of parent, minus header (which is 1em), minus padding */
	}
	.carousel .card > .flex > * {
		margin: 10px;
	}
	.carousel .card > .flex .action {
		flex-shrink: 0;
		align-self: flex-end;
	}
/*
	--~~== End Carousel ==~~--
*/

/*
	--~~== Text Section ==~~--
*/
	.text {
		width: 80%;
		margin: 20px;
		margin-left: auto;
		margin-right: auto;
		padding: 10px;
		color: #FFF;
		position: relative;
		background-color: rgba(0,0,0,0.3);
		box-shadow: 0 0 3px 4px rgba(0,0,0,0.3);
	}

	.text a {
		color: #FFF;
		text-decoration: underline;
		cursor: pointer;
	}

	.text a:visited {
		color: #FFF;
	}
	.text a:focus,
	.text a:hover {
		color: #DDD;
	}
	.text a:active {
		color: #FFF;
	}
	 .lead {
		color: #FFF;
	}
/*
	--~~== End Text Section ==~~--
*/

/*
	--~~== Table of Contents ==~~--
*/

	nav.toc .section-header {
		font-weight: bold;
		font-size: 1.2em;
		color: #FFF;

	}
	nav.toc > section {
		margin-left: 5px;
	}
	nav.toc a {
		padding: 3px;
		color: #FFF;
		text-decoration: none;
		display: block;
	}
	nav.toc a:focus,
	nav.toc a:hover{
		color: #CCC;
	}

/*
	--~~== End Table of Contents ==~~--
*/

/*
	--~~== Product Listing ==~~--
*/
	.blend-listing {
		position: relative;
		display: block;
		border: solid 1px #999;
		border-radius: 5px;
		box-shadow: 0 0 3px 0 rgba(0,0,0,0.4) inset;
		background: rgba(0,0,0,0.3);
		margin-left: auto;
		margin-right: auto;
		padding: 15px;
	}
	.blend-listing::after {
		content: "";
		display: block;
		clear: both;
	}

	.blend-listing .blend-card {
		float: left;
		max-width: 262px; /* 250px for the image, 10 for padding, 2 for pix */
		margin: 10px;
		box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
		background: #FFF;
		border-radius: 5px;
		cursor: pointer;
		transition: box-shadow 250ms;

		text-decoration: none;
	}

	.blend-listing .blend-card:hover {
		box-shadow: 0 0 10px 3px rgba(0,0,0,0.4);
	}

	.blend-listing .blend-card:active {
		box-shadow: 0 0 10px 3px rgba(0,0,0,0.4) inset;
	}

	.blend-listing .blend-card .preview {
		display: block;
		border: solid 1px #999;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		padding: 5px;
		border-bottom: none;
	}

	.blend-listing .blend-card .name {
		display: block;
		border: solid 1px #999;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;

		padding: 10px;

		/*background-color: #177832;*/
		background-color: #B20F0E;
		color: #fff;

		font-size: 1.6em;

		text-align: center;
	}
/*
	--~~== End Product Listing ==~~--
*/


/*
	--~~== Interactive Elements ==~~--
*/
	.btn {
		/*border: solid 1px #177832;*/
		border: solid 1px #6E1111;
		border-radius: 5px;
		padding: 10px;
		/*color: #177832;*/
		color: #B20F0E;
		background: rgba(255,255,255,0);
		text-decoration: none;
		transition: background-color 200ms, color 200ms;
		cursor: pointer;
		font-family: "Quicksand", sans-serif;
	}

	.btn:active {
		background-color: #B20F0E;
	}

	.btn:hover {
		/*background-color: #177832;*/
		background-color: #B20F0E;
		color: #FFF;
	}

	.btn.nav:visited {
		/*color: #177832;*/
		color: #B20F0E;
	}

	.btn.nav:visited:hover {
		color: #FFF;
	}

	.btn.reset {
		border-color: #515151;
		color: #515151;
	}

	.btn.reset:active {
		background-color: #3d3d3d;
		color: #FFF;
	}

	.btn.reset:hover {
		background-color: #727272;
		color: #FFF;
	}


	input[type=text] {
		padding: 10px;
		border: solid #999 1px; 
		box-shadow: 0 0 3px 0 rgba(0,0,0,0.5) inset;
		border-radius: 5px;
	}

/*
	--~~== End Interactive Elements ==~~--
*/

/* 
	Order form
*/
.order-form {
	width: 50%;
	text-align:center;
	padding: 10px;
	display:inline-block
}

.order-form-row {
	width: 100%;
	float:left;
	padding: 10px;
	text-align:left;
}

.order-text-input-container {
	float:left;
	text-align:center;
	width: 70%;
	padding-left: 5px;
	padding-right: 5px;
}

.order-select-container {
	float:right;
	width:70%;
	text-align:center;
	padding-left: 5px;
	padding-right: 5px;
}

.order-text-input {
	width: 100%;
	text-align:center;
}

.order-label {
	float:left;
	width: 30%;
}

.order-select {
	text-align:center;
	float:right;
	width: 50%;
}
.order-confirm {
	float:right;
}
/* 
	Order form end */
/*
	--~~== Footer =~~--
*/
	footer {
		position: relative;
		display: block;
		background-color: rgba(3,50,79,0.72);
		height: 2em;
		padding: 5px;
	}
	footer nav a {
		float: left;
	}
	
	footer nav a{
		color: #FFF;
		text-decoration: none;
		padding: 3px;
		padding-left: 12px;
		padding-right: 12px;
		cursor: pointer;
	}
	footer nav a:visited {
		color: #FFF;
	}
	footer nav a:focus,
	footer nav a:hover {
		color: #999;
	}
	footer nav a:active {
		color: #999;
	}
/*
	--~~== End Footer ==~~--
*/