/*
	--~~== Footer ==~~--
*/
.content {
	position: relative;
	min-height: calc(90vh - 11em);
	padding: 10px;
}
footer {
	background-color: #03324F;
	position: absolute;
	height: 10vh;
	left: 0;
	right: 0;
	padding: 0.5em;
	color: #FFF;
}
footer > nav {
	display: flex;
	width: 40%;
	height: 100%;
	flex-wrap: wrap;
	flex-direction: column;
}
footer > nav > a{
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
}
footer > nav > a:visited {
    color: #FFF;
}
footer > nav > a:focus,
footer > nav > a:hover {
    color: #999;
}
footer > nav > a:active {
    color: #999;
}

/*
	--~~== Text Section ==~~--
*/
section.text {
	width: 80%;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background: rgba(0,0,0,0.5);
	box-shadow: 0 0 10px 5px rgba(0,0,0,0.5);
	color: #FFF;
}
section.text a {
    color: #FFF;
    text-decoration: underline;
    cursor: pointer;
}
section.text a:visited {
    color: #FFF;
}
section.text a:focus,
section.text a:hover {
    color: #DDD;
}
section.text a:active {
    color: #FFF;
}
section .lead {
	color: #FFF;
}

/*
	--~~== Feature Carousel ==~~--
*/
.carousel {
	position: relative;
	border: solid #727272 1px;
	border-radius: 5px;
	overflow: hidden;
	width: 80%;
	height: 20vh;
	margin-left: auto;
	margin-right: auto;
}
.carousel::after {
	content: "";
	display: block;
	position: absolute;
	height: 2px;
	bottom: -0px;
	left: 0px;
	right: 50%;
	background-color: #B20F0E;
}
.carousel .card {
	padding: 10px;
	height: 100%;
	background-color: rgba(255,255,255,0.8);
}
.carousel .card > h3 {
	margin: 6px;
	margin-top: 10px;
	height: 1em;
}
.carousel .card > .flex {
	display: flex;
	align-items: center;
	width: 100%;
	height: calc(100% - 1em - 20px); /* Full size of parent, minus header (which is 1em), minus padding */
}
.carousel .card > .flex > * {
	margin: 10px;
}
.carousel .card > .flex .action {
	flex-shrink: 0;
	align-self: flex-end;
}

/*
	--~~== Product Listing ==~~--
*/
.blend-listing {
	position: relative;
	display: block;
	border: solid 1px #999;
	border-radius: 5px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.4) inset;
	background: rgba(0,0,0,0.3);
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
}
.blend-listing::after {
	content: "";
	display: block;
	clear: both;
}

.blend-listing .blend-card {
	float: left;
	max-width: 262px; /* 250px for the image, 10 for padding, 2 for pix */
	margin: 10px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
	background: #FFF;
	border-radius: 5px;
	cursor: pointer;
	transition: box-shadow 250ms;

	text-decoration: none;
}

.blend-listing .blend-card:hover {
	box-shadow: 0 0 10px 3px rgba(0,0,0,0.4);
}

.blend-listing .blend-card:active {
	box-shadow: 0 0 10px 3px rgba(0,0,0,0.4) inset;
}

.blend-listing .blend-card .preview {
	display: block;
	border: solid 1px #999;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding: 5px;
	border-bottom: none;
}

.blend-listing .blend-card .name {
	display: block;
	border: solid 1px #999;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;

	padding: 10px;

	/*background-color: #177832;*/
	background-color: #B20F0E;
	color: #fff;

	font-size: 1.6em;

	text-align: center;
}

/*
	--~~== Interactive Elements ==~~--
*/
.btn {
	/*border: solid 1px #177832;*/
	border: solid 1px #6E1111;
	border-radius: 5px;
	padding: 10px;
	/*color: #177832;*/
	color: #B20F0E;
	background: rgba(255,255,255,0);
	text-decoration: none;
	transition: background-color 200ms, color 200ms;
	cursor: pointer;
	font-family: "Quicksand", sans-serif;
}

.btn:active {
	background-color: #B20F0E;
}

.btn:hover {
	/*background-color: #177832;*/
	background-color: #B20F0E;
	color: #FFF;
}

.btn.nav:visited {
	/*color: #177832;*/
	color: #B20F0E;
}

.btn.nav:visited:hover {
	color: #FFF;
}

.btn.reset {
	border-color: #515151;
	color: #515151;
}

.btn.reset:active {
	background-color: #3d3d3d;
	color: #FFF;
}

.btn.reset:hover {
	background-color: #727272;
	color: #FFF;
}


input[type=text] {
	padding: 10px;
	border: solid #999 1px; 
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.5) inset;
	border-radius: 5px;
}


/*
	--~~== Main Navigation ==~~--
*/
header nav {
	display: block;
	position: relative;
}

header nav > a {
	padding: 6px;
	position: relative;
	text-decoration: none;
	/*color: #177832;*/
	color: #004D7F;
}

header nav > a::before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -2px;
	width: 1px;
	/*background-color: #177832;*/
	background-color: #004D7F;
}

header nav > a:first-child::before {
	content: none;
}

/*
	--~~== HEADER ==~~--
*/
header {
	padding: 10px;
	display: block;
	position: relative;
	background: #B20F0E;
	color: #FFF;
	height: 11em;
}

/* - Typeography */
header h1 {
	margin: 0;
	margin-bottom: 0px;
	color: #FFF;
}
header .muted {
	font-size: 0.8em;
	opacity: 0.9;
}
header a {
	color: #FFF;
	text-decoration: none;
}
header a:visited {
	color: #FFF;
	text-decoration: none;
}
/* - Sub Elements */
header nav {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0,0,0,0.3);
}
header nav::after {
	content: "";
	display: block;
	clear: both;
}
header nav > a {
	float: left;
	color: #FFF;
	text-decoration: none;
	padding: 10px;
	cursor: pointer;
	background: none;
}
header nav > a:focus,
header nav > a:hover {
	background-color: rgba(0,0,0,0.2);
}
header nav > a.active {
	/*background-color: #177832;*/
	background-color: #03324F;
}
/*
	--~~== Table of Contents ==~~--
*/
nav.toc {
	background-color: #001F33;
	padding: 10px;
}
nav.toc .section-header {
	font-weight: bold;
	font-size: 1.2em;
	color: #FFF;
}
nav.toc > section {
	margin-left: 5px;
}
nav.toc a {
	padding: 3px;
	color: #FFF;
	text-decoration: none;
	display: block;
}
nav.toc a:focus,
nav.toc a:hover{
	color: #999;
}

/*
	--~~== Style Guide Sample ==~~--
*/
.sample > * {
	padding: 15px;
	border: solid 1px #999;
}

.sample .rendered {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom: 0px;
	box-shadow: 0 0 5px 0 rgba(100,100,100,0.4) inset;
}

.sample .rendered::before {
	content: "SAMPLE";
	color: #A1A1A1;
	display: block;
	height: 1.8em;

}

.sample code{
	display: block;
	background-color: #f7f7f9;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}