/* 
    Font Styles
*/
/*
	--~~== Playfair Display SC ==~~--
*/
/* Regular */

/* Bold */
@font-face {
    font-family: 'Calligraffiti';
	font-weight: normal;
	font-style: normal;
    src: url('../fonts/calligraffiti/calligraffiti.eot');
	src: url('../fonts/calligraffiti/calligraffiti.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/calligraffiti/calligraffiti.woff2') format('woff2'), 
		 url('../fonts/calligraffiti/calligraffiti.woff') format('woff'),
		 url('../fonts/calligraffiti/calligraffiti.ttf') format('truetype');
}

/*
	--~~== Quicksand ==~~--
*/
/* Regular */
@font-face {
    font-family: 'Quicksand';
	font-weight: normal;
	font-style: normal;
    src: url('../fonts/quicksand/regular.eot');
	src: url('../fonts/quicksand/regular.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/quicksand/regular.woff2') format('woff2'), 
		 url('../fonts/quicksand/regular.woff') format('woff'),
		 url('../fonts/quicksand/regular.ttf') format('truetype');
}

/* Bold */
@font-face {
    font-family: 'Quicksand';
	font-weight: bold;
	font-style: normal;
    src: url('../fonts/quicksand/bold.eot');
	src: url('../fonts/quicksand/bold.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/quicksand/bold.woff2') format('woff2'), 
		 url('../fonts/quicksand/bold.woff') format('woff'),
		 url('../fonts/quicksand/bold.ttf') format('truetype');
}

/* Italic */
@font-face {
    font-family: 'Quicksand';
	font-weight: normal;
	font-style: italic;
    src: url('../fonts/quicksand/italic.eot');
	src: url('../fonts/quicksand/italic.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/quicksand/italic.woff2') format('woff2'), 
		 url('../fonts/quicksand/italic.woff') format('woff'),
		 url('../fonts/quicksand/italic.ttf') format('truetype');
}

/* Bold-Italic */
@font-face {
    font-family: 'Quicksand';
	font-weight: bold;
	font-style: italic;
    src: url('../fonts/quicksand/bolditalic.eot');
	src: url('../fonts/quicksand/bolditalic.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/quicksand/bolditalic.woff2') format('woff2'), 
		 url('../fonts/quicksand/bolditalic.woff') format('woff'),
		 url('../fonts/quicksand/bolditalic.ttf') format('truetype');
}